/* Google font url */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    background-image: url('./../image/background.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.card,
.card-body {
    background-color: #1e272d;
    font-family: 'Poppins', sans-serif;
}

#result {
    min-height: 30px;
    margin-top: 18px;
    margin-bottom: 8px;
    color: #08c353;
    font-weight: bold;
    font-style: italic;
    padding: 2px 10px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#result p {
    margin: 0;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: #1890ff !important;
    margin-bottom: 15px;
}

.author {
    color: white;
    margin: 0;
    font-size: 18px;
    margin-bottom: 3px;
}

.publisher {
    color: white;
    margin: 0;
    font-size: 18px;
    margin-bottom: 3px;
}

.publish-year {
    color: white;
    margin: 0;
    font-size: 18px;
    margin-bottom: 3px;
}

.span {
    color: turquoise;
    font-weight: normal !important;
    font-size: 18px;
}

.searchKeyWord{
    color: white;
}